In [1]:
import numpy as np 
from pandas import Series, DataFrame
import pandas as pd

In [2]:
json_obj = """
{
    "zoo_animal": "Lion", 
    "food": ["Meat", "Veggies", "Honey"],
    "fur": "Golden", 
    "clothes": null,
    "diet": [{"zoo_animal": "Gazelle", "food": "grass", "fur": "Brown"}]
}
"""

In [3]:
import json
data = json.loads(json_obj)

In [4]:
data

{'clothes': None,
 'diet': [{'food': 'grass', 'fur': 'Brown', 'zoo_animal': 'Gazelle'}],
 'food': ['Meat', 'Veggies', 'Honey'],
 'fur': 'Golden',
 'zoo_animal': 'Lion'}

In [5]:
dframe =DataFrame(data['diet'])

In [6]:
dframe

    food    fur zoo_animal
0  grass  Brown    Gazelle