In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [2]:
df_left = DataFrame({'key': ['X', 'Y', 'Z', 'X', 'Y'],
                     'data': range(5)})

In [3]:
df_left

   data key
0     0   X
1     1   Y
2     2   Z
3     3   X
4     4   Y

In [4]:
df_right = DataFrame({'group_data': [10,20]}, index = ['X', 'Y'])

In [5]:
df_right

   group_data
X          10
Y          20