In [1]:
import numpy as np 

import pandas as pd 

from pandas import Series, DataFrame

In [3]:
import webbrowser 
web_site = 'https://en.wikipedia.org/wiki/NFL_win%E2%80%93loss_records'

In [4]:
webbrowser.open(web_site)

True

In [34]:
nfl_frame = pd.read_clipboard()

In [35]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First_NFL_Season,Total_Games,Division
0,30,Houston_Texans,97,127,0,0.433,2002,224,AFC_South
1,7,Baltimore_Ravens,173,146,1,0.542,1996,320,AFC_North
2,20,Carolina_Panthers,166,169,1,0.496,1995,336,NFC_South
3,27,Jacksonville_Jaguars,152,184,0,0.452,1995,336,AFC_South
4,17,Seattle_Seahawks,315,313,0,0.502,1976,628,NFC_West
5,4,Miami_Dolphins,429,335,4,0.561,1966,768,AFC_East
6,2,Dallas_Cowboys,480,364,6,0.568,1960,850,NFC_East

In [36]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First_NFL_Season',
       'Total_Games', 'Division'],
      dtype='object')

In [37]:
nfl_frame.Rank

0    30
1     7
2    20
3    27
4    17
5     4
6     2
Name: Rank, dtype: int64

In [39]:
nfl_frame['First_NFL_Season']

0    2002
1    1996
2    1995
3    1995
4    1976
5    1966
6    1960
Name: First_NFL_Season, dtype: int64

In [41]:
DataFrame(nfl_frame, columns=['Team', 'First_NFL_Season','Total_Games'])

                   Team  First_NFL_Season  Total_Games
0        Houston_Texans              2002          224
1      Baltimore_Ravens              1996          320
2     Carolina_Panthers              1995          336
3  Jacksonville_Jaguars              1995          336
4      Seattle_Seahawks              1976          628
5        Miami_Dolphins              1966          768
6        Dallas_Cowboys              1960          850

In [42]:
nfl_frame.head(3)

,Rank,Team,Won,Lost,Tied,Pct.,First_NFL_Season,Total_Games,Division
0,30,Houston_Texans,97,127,0,0.433,2002,224,AFC_South
1,7,Baltimore_Ravens,173,146,1,0.542,1996,320,AFC_North
2,20,Carolina_Panthers,166,169,1,0.496,1995,336,NFC_South

In [43]:
nfl_frame.tail(3)

,Rank,Team,Won,Lost,Tied,Pct.,First_NFL_Season,Total_Games,Division
4,17,Seattle_Seahawks,315,313,0,0.502,1976,628,NFC_West
5,4,Miami_Dolphins,429,335,4,0.561,1966,768,AFC_East
6,2,Dallas_Cowboys,480,364,6,0.568,1960,850,NFC_East

In [45]:
nfl_frame.ix[3]

Rank                                  27
Team                Jacksonville_Jaguars
Won                                  152
Lost                                 184
Tied                                   0
Pct.                               0.452
First_NFL_Season                    1995
Total_Games                          336
Division                       AFC_South
Name: 3, dtype: object

In [49]:
nfl_frame['Stadium'] = 'Levi s stadium'

In [50]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First_NFL_Season,Total_Games,Division,Stadium,Stadium a
0,30,Houston_Texans,97,127,0,0.433,2002,224,AFC_South,Levi s stadium,Levi s stadium
1,7,Baltimore_Ravens,173,146,1,0.542,1996,320,AFC_North,Levi s stadium,Levi s stadium
2,20,Carolina_Panthers,166,169,1,0.496,1995,336,NFC_South,Levi s stadium,Levi s stadium
3,27,Jacksonville_Jaguars,152,184,0,0.452,1995,336,AFC_South,Levi s stadium,Levi s stadium
4,17,Seattle_Seahawks,315,313,0,0.502,1976,628,NFC_West,Levi s stadium,Levi s stadium
5,4,Miami_Dolphins,429,335,4,0.561,1966,768,AFC_East,Levi s stadium,Levi s stadium
6,2,Dallas_Cowboys,480,364,6,0.568,1960,850,NFC_East,Levi s stadium,Levi s stadium

In [52]:
nfl_frame['Stadium'] = np.arange(7)

In [53]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First_NFL_Season,Total_Games,Division,Stadium,Stadium a
0,30,Houston_Texans,97,127,0,0.433,2002,224,AFC_South,0,Levi s stadium
1,7,Baltimore_Ravens,173,146,1,0.542,1996,320,AFC_North,1,Levi s stadium
2,20,Carolina_Panthers,166,169,1,0.496,1995,336,NFC_South,2,Levi s stadium
3,27,Jacksonville_Jaguars,152,184,0,0.452,1995,336,AFC_South,3,Levi s stadium
4,17,Seattle_Seahawks,315,313,0,0.502,1976,628,NFC_West,4,Levi s stadium
5,4,Miami_Dolphins,429,335,4,0.561,1966,768,AFC_East,5,Levi s stadium
6,2,Dallas_Cowboys,480,364,6,0.568,1960,850,NFC_East,6,Levi s stadium

In [54]:
del nfl_frame['Stadium a']

In [55]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First_NFL_Season,Total_Games,Division,Stadium
0,30,Houston_Texans,97,127,0,0.433,2002,224,AFC_South,0
1,7,Baltimore_Ravens,173,146,1,0.542,1996,320,AFC_North,1
2,20,Carolina_Panthers,166,169,1,0.496,1995,336,NFC_South,2
3,27,Jacksonville_Jaguars,152,184,0,0.452,1995,336,AFC_South,3
4,17,Seattle_Seahawks,315,313,0,0.502,1976,628,NFC_West,4
5,4,Miami_Dolphins,429,335,4,0.561,1966,768,AFC_East,5
6,2,Dallas_Cowboys,480,364,6,0.568,1960,850,NFC_East,6

In [58]:
nfl_frame['Stadium'] = Series(["Levi's Stadium", "AT&T Stadium"], index=[5,0])

In [61]:
del nfl_frame['Stadio']

In [63]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First_NFL_Season,Total_Games,Division,Stadium
0,30,Houston_Texans,97,127,0,0.433,2002,224,AFC_South,AT&T Stadium
1,7,Baltimore_Ravens,173,146,1,0.542,1996,320,AFC_North,NaN
2,20,Carolina_Panthers,166,169,1,0.496,1995,336,NFC_South,NaN
3,27,Jacksonville_Jaguars,152,184,0,0.452,1995,336,AFC_South,NaN
4,17,Seattle_Seahawks,315,313,0,0.502,1976,628,NFC_West,NaN
5,4,Miami_Dolphins,429,335,4,0.561,1966,768,AFC_East,Levi's Stadium
6,2,Dallas_Cowboys,480,364,6,0.568,1960,850,NFC_East,NaN

In [66]:
data = {'city': ['SF', 'LA', 'NYC'], 'population': [837000, 3880000, 8400000]}

In [67]:
data

{'city': ['SF', 'LA', 'NYC'], 'population': [837000, 3880000, 8400000]}

In [68]:
city_frame = DataFrame(data)

In [69]:
city_frame

  city  population
0   SF      837000
1   LA     3880000
2  NYC     8400000