In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

from numpy.random import randn

In [3]:
ser = Series(randn(6), index=[[1,1,1,2,2,2], 
                              ['a', 'b', 'c', 'a', 'b', 'c']])

In [4]:
ser

1  a    1.352275
   b    0.912131
   c   -0.596477
2  a    0.912909
   b    0.903062
   c   -2.188363
dtype: float64

In [5]:
ser.index

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
ser[1]

a    1.352275
b    0.912131
c   -0.596477
dtype: float64

In [7]:
ser[2]

a    0.912909
b    0.903062
c   -2.188363
dtype: float64

In [8]:
ser

1  a    1.352275
   b    0.912131
   c   -0.596477
2  a    0.912909
   b    0.903062
   c   -2.188363
dtype: float64

In [11]:
ser[:,'a']

1    1.352275
2    0.912909
dtype: float64

In [12]:
dframe = ser.unstack()

In [13]:
dframe

          a         b         c
1  1.352275  0.912131 -0.596477
2  0.912909  0.903062 -2.188363

In [14]:
dframe2 = DataFrame(np.arange(16).reshape(4,4), 
                   index = [['a','a','b','b'], [1,2,1,2]], 
                   columns=[['NY', 'NY', 'LA', 'SF'], ['cold', 'hot', 'hot', 'cold']])

In [15]:
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [16]:
dframe2.index.names = ['INDEX_1', 'INDEX_2']

In [17]:
dframe2.columns.names = ['Cities', 'Temperature']
dframe2

Cities            NY      LA   SF
Temperature     cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [18]:
dframe2.swaplevel('Cities', 'Temperature', axis=1)

Temperature     cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [19]:
dframe2.sortlevel(1)

Cities            NY      LA   SF
Temperature     cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [20]:
dframe2.sortlevel(0)

Cities            NY      LA   SF
Temperature     cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [21]:
dframe2.sum(level='Temperature', axis = 1)

Temperature      cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27